@import url(./__triangle/kaufman__triangle.css);

/* Section kaufman */
.kaufman {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #1f1f1f;
  position: relative;
  overflow: hidden;
  margin-top: -338px;
}
