.page {
  min-width: 1100px;
  /* we don't know how to make mobile versions of websites yet, */
  /* so here we've set a minimum page width */
  max-width: 1600px;
  /* here we've set a maximum page width */
  margin: 0;
  /* this ensures that all content is centered on screens wider than 1600px */
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.logo {
  z-index: 1;
}
/* Header Block */
.header {
  margin: 0;
  background-color: #f2f2f2;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  width: 154px;
  height: 31px;
}
.header__square {
  background-color: #2f80ed;
  width: 568px;
  height: 568px;
  position: absolute;
  right: 0;
  top: 64px;
}
.header__title {
  width: 730px;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
  z-index: 1;
  margin: 0 0 0 64px;
}

.header__subtitle {
  width: 388px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  left: 64px;
  bottom: 30px;
  z-index: 1;
  margin: 0;
}
.header__link {
  text-decoration: none;
  color: #2f80ed;
}

.header__main-illustration {
  width: 756px;
  height: 608px;
  position: absolute;
  right: 0;
  bottom: 0;
}

/* two-columns block */
.two-columns {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 100px auto;
}

.two-columns__brief {
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
  align-self: flex-start;
  margin-top: 0;
  margin-bottom: 0;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
}

.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 0;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
}

/* Digits Section */
.section-title {
  line-height: 69px;
  font-size: 60px;
  font-weight: bold;
  width: 60%;
  text-align: center;
  margin: 0 auto;
}

.section-subtitle {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  width: 60%;
  text-align: center;
  margin: 20px auto 60px auto;
}

.table {
  list-style: none;
  padding: 0;
  margin: 0 auto 100px auto;
  width: 1100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 60px;
}

.table__cell {
  width: 250px;
}
.table__heading {
  margin: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.table__text {
  margin-top: 20px;
  margin-bottom: 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

/* Section Feynman */
.feynman {
  background-color: #f2f2f2;
  padding-top: 100px;
  min-height: 790px;
  position: relative;
}

.feynman__title {
  width: 775px;
  margin: 0 auto;
  text-align: center;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  position: relative;
  z-index: 1;
}

.feynman__subtitle {
  margin-top: 70px;
  margin-bottom: 0;
  text-align: center;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  position: relative;
  z-index: 1;
}

.feynman__link {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-decoration: none;
  color: #2f80ed;
  position: absolute;
  right: 48px;
  top: 50%;
  z-index: 1;
}

.feynman__image {
  width: 867px;
  height: 637px;
  position: absolute;
  left: 0;
  bottom: 0;
}

/* Section kaufman */
.kaufman {
  padding-top: 90px;
  background-color: #1f1f1f;
  position: relative;
  overflow: hidden;
}

.table_theme_dark {
  z-index: 1;
  position: relative;
  margin-bottom: 90px;
  row-gap: 0;
}
.section-title_theme_dark {
  color: white;
  position: relative;
  z-index: 1;
}

.section-subtitle_theme_dark {
  color: white;
  margin-bottom: 0;
  position: relative;
  z-index: 1;
}

.table__cell_theme_dark {
  width: 200px;
  margin-right: 0;
  margin-top: 80px;
}

.table__heading_theme_dark {
  color: white;
}

.table__text_theme_dark {
  color: white;
}

.kaufman__triangle {
  position: absolute;
  right: -124px;
  top: 0;
  width: 660px;
  height: 636px;
}

/* footer section */
.footer {
  min-height: 350px;
  background-color: #1f1f1f;
  color: white;
  display: flex;
  justify-content: center;
}

.footer__columns {
  width: 90%;
  margin-top: 60px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer__column_content_copyright {
  display: flex;
  flex-direction: column;
  flex-basis: 711px;
  justify-content: space-between;
}
.logo_place_footer {
  width: 183px;
  height: 35px;
}
.footer__author {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  margin-top: 18px;
  margin-bottom: 18px;
}
/*
.footer__column_content_about .footer__column_content_social {
  margin: auto;
} */
.footer__column-heading {
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 20px;
}
.footer__list {
  margin: 0;
  list-style: none;
  padding: 0;
}
.footer__column-link {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
  color: white;
}
.footer__social-icons {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}
